<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- prettier-ignore -->
		<%
		let artistName = "";
		if (artistResult) {
			const artistMap = artistResult.reduce((map, artist) => {
				map[artist.artistID] = artist.name;
				return map;
			}, {});

			const filteredArtists = songResult.artist
				.map((id) => artistMap[id])
				.filter((artist) => artist)
				.join(" / ");

			artistName = filteredArtists.length >= 0 ? filteredArtists : "N/A";
		}
		%>
		<title><%= songResult.title + " - " + artistName %></title>
	</head>

	<body>
		<div></div>
		<!-- prettier-ignore -->
		<div>
			<a href="../index.html">return to index html</a>
			<p style="font-size: large"><%= songResult.title%></p>
			<p style="font-size: small; color: royalblue"><%= artistName %></p>
			<p>Credits</p>
			<% if (!songResult.credits) { %>
				<p style="font-size: small; color: royalblue">n/a</p>
				<% } else { %>
					<% for (var i = 0; i < Object.keys(songResult.credits).length; i++) { %>
					    <%
					    let artistMap = {};
					    for (let artist of artistResult) {
					    artistMap[artist.artistID] = artist.name;
					    }
					    let creditArtistName = artistMap[Object.keys(songResult.credits)[i]] || "n/a";
					    %>
					    <li><%= creditArtistName + " - " + Object.values(songResult.credits)[i] %></li>
					<% } %>
			<% } %>

			<p>Appears On</p>
			<% albumResult.forEach(album => { %>
			<li><a href="<%= '../album' + album.albumID %>"><%= album.title %> - <%= album.publisher %></a></li>
			<% } ); %>

			<p>Lyrics</p>
			<p><%= songResult.lyrics != null? songResult.lyrics : "N/A" %></p>
			<button>Edit This Page</button>
		</div>
	</body>
</html>
